# Delta fragment: apply on top of pasted.txt to move toward pasted2.txt

# BPF / task accounting
CONFIG_BPF_SYSCALL=n
CONFIG_BPF_JIT_ALWAYS_ON=n
CONFIG_BPF_UNPRIV_DEFAULT_OFF=n
CONFIG_TASKSTATS=n
CONFIG_TASK_XACCT=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_TASKS_RCU=n
CONFIG_TASKS_TRACE_RCU=n

# Cgroups / namespaces
CONFIG_CGROUP_BPF=n
CONFIG_SOCK_CGROUP_DATA=n

# Syscalls / misc core
CONFIG_KCMP=n

# Block / IO scheduler
CONFIG_BLK_CGROUP_RWSTAT=n
CONFIG_BLK_DEV_ICQ=n
CONFIG_BFQ_GROUP_IOSCHED=n
CONFIG_IOSCHED_BFQ=n

# Networking core / IP / tunnels / xfrm
CONFIG_XFRM=y
CONFIG_XFRM_ALGO=m
CONFIG_XFRM_USER=m
CONFIG_XFRM_INTERFACE=m
CONFIG_XFRM_SUB_POLICY=y
CONFIG_XFRM_MIGRATE=y
CONFIG_XFRM_STATISTICS=y
CONFIG_XFRM_AH=m
CONFIG_XFRM_ESP=m
CONFIG_XFRM_IPCOMP=m
CONFIG_NET_KEY=m
CONFIG_NET_KEY_MIGRATE=y

CONFIG_IP_ADVANCED_ROUTER=y
CONFIG_IP_MULTIPLE_TABLES=y
CONFIG_IP_MROUTE_COMMON=y
CONFIG_IP_MROUTE=y
CONFIG_SYN_COOKIES=y
CONFIG_NET_UDP_TUNNEL=m
CONFIG_INET_AH=m
CONFIG_INET_IPCOMP=m
CONFIG_INET_XFRM_TUNNEL=m

CONFIG_INET6_AH=m
CONFIG_INET6_ESP=m
CONFIG_INET6_IPCOMP=m
CONFIG_INET6_XFRM_TUNNEL=m
CONFIG_INET6_TUNNEL=m
CONFIG_IPV6_TUNNEL=m
CONFIG_IPV6_MULTIPLE_TABLES=y
CONFIG_IPV6_SUBTREES=y

# Netfilter / iptables / ipset / l2tp
CONFIG_NETFILTER_NETLINK=m
CONFIG_NETFILTER_FAMILY_ARP=y
CONFIG_NETFILTER_NETLINK_ACCT=m
CONFIG_NETFILTER_NETLINK_QUEUE=m
CONFIG_NETFILTER_NETLINK_LOG=m
CONFIG_NF_CONNTRACK_PROCFS=y
CONFIG_NF_CT_NETLINK=m
CONFIG_NF_CT_NETLINK_HELPER=m
CONFIG_NETFILTER_NETLINK_GLUE_CT=y
CONFIG_NF_TABLES=n
CONFIG_NF_TABLES_INET=n
CONFIG_NF_TABLES_NETDEV=n
CONFIG_NFT_CT=n
CONFIG_NFT_MASQ=n
CONFIG_NFT_NAT=n
CONFIG_NFT_COMPAT=n
CONFIG_NF_DUP_NETDEV=n
CONFIG_NFT_DUP_NETDEV=n
CONFIG_NFT_FWD_NETDEV=n
CONFIG_NF_FLOW_TABLE=n
CONFIG_NETFILTER_XTABLES_COMPAT=y
CONFIG_NETFILTER_XT_MATCH_COMMENT=m
CONFIG_NETFILTER_XT_MATCH_CPU=m
CONFIG_NETFILTER_XT_MATCH_IPRANGE=m
CONFIG_NETFILTER_XT_MATCH_L2TP=m
CONFIG_NETFILTER_XT_MATCH_LENGTH=m
CONFIG_NETFILTER_XT_MATCH_LIMIT=m
CONFIG_NETFILTER_XT_MATCH_MAC=m
CONFIG_NETFILTER_XT_MATCH_MARK=m
CONFIG_NETFILTER_XT_MATCH_MULTIPORT=m
CONFIG_NETFILTER_XT_MATCH_POLICY=m
CONFIG_NETFILTER_XT_MATCH_STATE=m
CONFIG_NETFILTER_XT_TARGET_NETMAP=m

CONFIG_IP_SET=m
CONFIG_IP_SET_MAX=256

CONFIG_NF_SOCKET_IPV4=n
CONFIG_NF_TPROXY_IPV4=n
CONFIG_NF_TABLES_IPV4=n
CONFIG_IP_NF_ARPTABLES=m
CONFIG_IP_NF_ARPFILTER=m
CONFIG_IP_NF_ARP_MANGLE=m

CONFIG_NF_SOCKET_IPV6=n
CONFIG_NF_TPROXY_IPV6=n
CONFIG_NF_TABLES_IPV6=n

CONFIG_NF_TABLES_BRIDGE=n
CONFIG_BRIDGE_NF_EBTABLES=n

CONFIG_L2TP=m
CONFIG_L2TP_DEBUGFS=m
CONFIG_L2TP_V3=y
CONFIG_L2TP_IP=m
CONFIG_L2TP_ETH=m

# Traffic control
CONFIG_NET_CLS_BASIC=m
CONFIG_NET_CLS_U32=n
CONFIG_NET_CLS_FLOWER=m
CONFIG_NET_ACT_POLICE=n
CONFIG_NET_ACT_SKBEDIT=n
CONFIG_NET_ACT_GATE=m

# Vsock / diag / l3 master
CONFIG_VSOCKETS=n
CONFIG_VSOCKETS_DIAG=n
CONFIG_VSOCKETS_LOOPBACK=n
CONFIG_VIRTIO_VSOCKETS=n
CONFIG_VIRTIO_VSOCKETS_COMMON=n
CONFIG_NETLINK_DIAG=m
CONFIG_NET_L3_MASTER_DEV=y

# CAN
CONFIG_CAN=y
CONFIG_CAN_RAW=y
CONFIG_CAN_BCM=y
CONFIG_CAN_GW=y
CONFIG_CAN_DEV=y
CONFIG_CAN_FLEXCAN=y
CONFIG_CAN_MCP251X=y
CONFIG_CAN_MCP251XFD=y
CONFIG_CAN_MCP251XFD_SANITY=y

# Wireless / rfkill / wifi drivers
CONFIG_RFKILL=y
CONFIG_RFKILL_LEDS=y
CONFIG_RFKILL_INPUT=y

CONFIG_RT2X00=m
CONFIG_RT2800USB=m
CONFIG_RT2800USB_RT33XX=y
CONFIG_RT2800USB_RT35XX=y
CONFIG_RT2800USB_RT53XX=y
CONFIG_RT2800_LIB=m
CONFIG_RT2X00_LIB_USB=m
CONFIG_RT2X00_LIB=m
CONFIG_RT2X00_LIB_FIRMWARE=y
CONFIG_RT2X00_LIB_CRYPTO=y
CONFIG_RT2X00_LIB_LEDS=y

CONFIG_RTL8192CE=m
CONFIG_RTL8192SE=m
CONFIG_RTL8192DE=m
CONFIG_RTL8188EE=m
CONFIG_RTL8192EE=m
CONFIG_RTL8821AE=m
CONFIG_RTL8192CU=m
CONFIG_RTLWIFI=m
CONFIG_RTLWIFI_PCI=m
CONFIG_RTLWIFI_USB=m
CONFIG_RTLWIFI_DEBUG=y
CONFIG_RTL8192C_COMMON=m
CONFIG_RTLBTCOEXIST=m

# MTD / block
CONFIG_MTD_NAND_FSL_IFC=y
CONFIG_MTD_SPI_NAND=n
CONFIG_BLK_DEV_RAM=y
CONFIG_BLK_DEV_RAM_COUNT=16
CONFIG_BLK_DEV_RAM_SIZE=65536

# EEPROM
CONFIG_EEPROM_AT25=y

# Network drivers / PHY
CONFIG_SYSTEMPORT=n
CONFIG_E1000=n
CONFIG_E1000E=m
CONFIG_IGB=m
CONFIG_MICROCHIP_PHY=y

# Platform char / TPM
CONFIG_ECU_BOARD=y
CONFIG_TCG_TIS_CORE=y
CONFIG_TCG_TIS_I2C=y

# I2C / SPI
CONFIG_I2C_MUX_GPIO=n
CONFIG_I2C_ATR=n
CONFIG_I2C_GPIO=y
CONFIG_I2C_SLAVE_EEPROM=n
CONFIG_SPI_BITBANG=y

# PPS
CONFIG_PPS_CLIENT_GPIO=n

# USB serial / net
CONFIG_USB_WDM=m
CONFIG_USB_NET_CDC_MBIM=m
CONFIG_USB_NET_RNDIS_HOST=m
CONFIG_USB_NET_QMI_WWAN=m
CONFIG_USB_SERIAL=y
CONFIG_USB_SERIAL_CONSOLE=n
CONFIG_USB_SERIAL_SIMPLE=m
CONFIG_USB_SERIAL_FTDI_SIO=m
CONFIG_USB_SERIAL_PL2303=m

# USB gadget
CONFIG_USB_F_UVC=n
CONFIG_USB_CONFIGFS_F_UVC=n
CONFIG_USB_G_WEBCAM=n

# Memory / extcon / IIO
CONFIG_UDMABUF=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_VHOST_IOTLB=n
CONFIG_VHOST_XEN=n
CONFIG_VHOST_TASK=n
CONFIG_VHOST=n
CONFIG_VHOST_NET=n
CONFIG_VHOST_VSOCK=n

CONFIG_MEMORY=y
CONFIG_FSL_IFC=y
CONFIG_INV_MPU6050_IIO=n
CONFIG_INV_MPU6050_I2C=n
CONFIG_IIO_ST_ACCEL_3AXIS=n
CONFIG_IIO_ST_ACCEL_I2C_3AXIS=n
CONFIG_IIO_ST_ACCEL_SPI_3AXIS=n
CONFIG_IIO_INV_SENSORS_TIMESTAMP=n
CONFIG_IIO_ST_GYRO_3AXIS=n
CONFIG_IIO_ST_GYRO_I2C_3AXIS=n
CONFIG_IIO_ST_GYRO_SPI_3AXIS=n
CONFIG_MS5611=n
CONFIG_MS5611_I2C=n
CONFIG_VCNL4035=n

# PWM / power / thermal / rtc
CONFIG_PWM_IMX_TPM=n
CONFIG_DEVICE_THERMAL=y
CONFIG_RTC_DRV_HT1382=y

# DMA
CONFIG_IMX_SDMA=m
CONFIG_DW_EDMA=n
CONFIG_DW_EDMA_PCIE=n
CONFIG_UDMABUF=n

# Virt / Xen
CONFIG_VIRTIO_INPUT=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_XEN_GNTDEV_DMABUF=n
CONFIG_XEN_GRANT_DMA_ALLOC=n
CONFIG_XEN_FRONT_PGDIR_SHBUF=n

# Staging / platform
CONFIG_VIDEO_IMX_CAPTURE=n
CONFIG_ARM_CCI=n
CONFIG_ARM_CCI400_COMMON=n
CONFIG_ARM_CCI400_PMU=n
CONFIG_SAMPLE_RPMSG_CLIENT=n
CONFIG_SAMPLES=n

# Devfreq
CONFIG_DEVFREQ_GOV_PERFORMANCE=n
CONFIG_DEVFREQ_GOV_POWERSAVE=n
CONFIG_DEVFREQ_GOV_USERSPACE=n

# NVMEM
CONFIG_NVMEM_IMX_OCOTP_FSB_S400=m

# Filesystems
CONFIG_EXT3_FS_POSIX_ACL=y
CONFIG_EXT3_FS_SECURITY=y
CONFIG_EXT4_FS_SECURITY=y
CONFIG_OVERLAY_FS_REDIRECT_DIR=y
CONFIG_OVERLAY_FS_INDEX=y
CONFIG_EXFAT_FS=m
CONFIG_EXFAT_DEFAULT_IOCHARSET="utf8"
CONFIG_NFS_V4_2_READ_PLUS=n
CONFIG_SUNRPC_GSS=m
CONFIG_RPCSEC_GSS_KRB5=m
CONFIG_NLS_UTF8=m

# Security / crypto / hardening
CONFIG_LSM="landlock,lockdown,yama,loadpin,safesetid,integrity,bpf"
CONFIG_INIT_STACK_NONE=y
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_CRYPTO_CRYPTD=y
CONFIG_CRYPTO_SEQIV=m
CONFIG_CRYPTO_AES_ARM64=y

# Library / misc
CONFIG_BINARY_PRINTF=n
CONFIG_CRC_CCITT=y
CONFIG_LIBCRC32C=m
CONFIG_FONT_8x8=n
CONFIG_FONT_AUTOSELECT=y

# Coresight / perf / tracing
CONFIG_ARM_CCI_PMU=n
CONFIG_ARM_DSU_PMU=n
CONFIG_ARM_SPE_PMU=n
CONFIG_ARM_DMC620_PMU=n
CONFIG_CORESIGHT_CATU=n
CONFIG_CORESIGHT_SINK_TPIU=n
CONFIG_CORESIGHT_SINK_ETBV10=n
CONFIG_CORESIGHT_STM=n
CONFIG_CORESIGHT_CPU_DEBUG=n
CONFIG_CORESIGHT_CTI=n
